@CHARSET "UTF-8";

.bor {border-bottom: 1px solid #D7D7D7;}
.tit_area {
    height: 75px;
    padding-top: 22px;
    position: relative;
}
.tit_area h4 {
    color: #000000;
    font-size: 16px;
}
.recommend {
    padding: 0 0 0 15px;
    min-height: 150px;
    position: relative;
    width: 724px;
    overflow: hidden;
}
.vod_w {
    overflow: hidden;
    margin-right: -15px;
}
.vod_w li {
    width: 168px;
    margin-right: 15px;
    float: left;
    line-height: 18px;
    position: relative;
    min-height: 200px;
       list-style: none;
}
.vod_w li img {
    width: 168px;
    height: 95px;
    margin-bottom: 7px;
}
.vod_w li a {
    display: block;
}
.vod_w li .bj {
    zoom: 1;
}
.vod_w li span {
    display: block;
}
.vod_w li .date {
    color: #848484;
    font-size: 11px;
    font-family: tahoma;
}
.vod_w li span {
    display: block;
}
.recommend:after {
    clear: both;
    content: "";
    display: block;
}

.more_list a {
    display: block;
    height: 30px;
    line-height: 33px;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    color: #333;
    text-align: center;
    text-decoration: none;
    background: #fafafa;
}