<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Category">
	<resultMap type="com.kh.tt.category.model.vo.CategoryVod" id="CategoryVodVO">
		<!-- property 필드명, column 컬럼명과 일치해야 한다 -->
		<id 	property="bNo" 			column="B_NO"/>
		<result property="bTitle" 		column="B_TITLE"/>
		<result property="bWriteDate" 	column="B_WRITE_DATE"/>
		<result property="bCount" 		column="B_COUNT"/>
		<result property="bLevel" 		column="B_LEVEL"/>
		<result property="bAttachYN" 	column="B_ATTACH_YN"/>
		<result property="bDelStatus" 	column="B_DEL_STATUS"/>
		<result property="bType" 		column="B_TYPE"/>
		<result property="chNo" 		column="CH_NO"/>
		<result property="uNo" 			column="M_UNO"/>
		<result property="nickName" 	column="M_NICKNAME"/>
		<result property="atNo" 		column="AT_NO"/>
		<result property="atModifyName" column="AT_MODIFY_NAME"/>
		<result property="ctNo" 		column="CT_NO"/>
		<result property="ctUpperNo" 	column="CT_UPPER_NO"/>
		<result property="ctName"		column="CT_NAME"/>
	</resultMap>
	
	<!-- VOD 리스트 조회순 -->
	<select id="countVodList" parameterType="int" resultMap="CategoryVodVO">
		SELECT M_UNO, M_NICKNAME, CH_NO, CT_NAME, B_NO, B_TITLE, B_WRITE_DATE, B_COUNT, AT_MODIFY_NAME
		FROM BOARD
		    JOIN MEMBER ON (B_UNO = M_UNO)
		    JOIN CHANNEL ON (B_CH_NO = CH_NO)
		    JOIN CATEGORY ON (B_CATEG = CT_NO)
		    JOIN ATTACHMENT ON (B_NO = AT_B_NO)
		WHERE B_LEVEL = 1
		AND B_ATTACH_YN = 'Y'
		AND B_TYPE = 'VOD'
		AND B_DEL_STATUS = 'N'
		AND CT_UPPER_NO = #{value}
		ORDER BY B_COUNT DESC
	</select>
	
	<!-- VOD 리스트 업로드순 -->
	<select id="latestVodList" parameterType="int" resultMap="CategoryVodVO">
		SELECT M_UNO, M_NICKNAME, CH_NO, CT_NAME, B_NO, B_TITLE, B_WRITE_DATE, B_COUNT, AT_MODIFY_NAME
		FROM BOARD
		    JOIN MEMBER ON (B_UNO = M_UNO)
		    JOIN CHANNEL ON (B_CH_NO = CH_NO)
		    JOIN CATEGORY ON (B_CATEG = CT_NO)
		    JOIN ATTACHMENT ON (B_NO = AT_B_NO)
		WHERE B_LEVEL = 1
		AND B_ATTACH_YN = 'Y'
		AND B_TYPE = 'VOD'
		AND B_DEL_STATUS = 'N'
		AND CT_UPPER_NO = #{value}
		ORDER BY B_WRITE_DATE DESC
	</select>
	
</mapper>