<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<resultMap type="com.kh.tt.channel.model.vo.Board"
		id="channelResultSet">
		<id property="bNo" column="B_NO" />
		<result property="bchNo" column="B_CH_NO" />
		<result property="buNo" column="B_UNO" />
		<result property="buId" column="M_ID" />
		<result property="bnickName" column="M_NICKNAME" />
		<result property="bCate" column="B_CATEG" />
		<result property="bTitle" column="B_TITLE" />
		<result property="bContent" column="B_CONTENT" />
		<result property="bwDate" column="B_WRITE_DATE" />
		<result property="bmDate" column="B_MODIFY_DATE" />
		<result property="bCount" column="B_COUNT" />
		<result property="bLevel" column="B_LEVEL" />
		<result property="bupNo" column="B_UPPER_NO" />
		<result property="bAttachs" column="B_ATTACH_YN" />
		<result property="bDels" column="B_DEL_STATUS" />
		<result property="bType" column="B_TYPE" />
		
		<result property="atCHno" column="AT_CH_NO" />
		<result property="atMName" column="AT_MODIFY_NAME" />
	</resultMap>


	<insert id="insertVod" parameterType="Board">
		INSERT INTO BOARD
		VALUES(
		SEQ_B_NO.NEXTVAL,
		#{bchNo},
		#{buNo},
		#{bCate},
		#{bTitle},
		#{bContent},
		SYSDATE,
		SYSDATE,
		'0','1',NULL,'Y','N','VOD')

	</insert>

	<select id="selectbNo" parameterType="Board"
		resultMap="channelResultSet">
		SELECT B_NO
		FROM BOARD
		WHERE B_TITLE=#{bTitle} AND
		B_CONTENT=#{bContent}

	</select>

	<select id="vodList" parameterType="java.util.Map"
		resultMap="channelResultSet">SELECT RNUM, B_NO ,B_UNO ,M_ID, B_CATEG ,B_TITLE ,B_CONTENT
		,B_WRITE_DATE ,
		B_MODIFY_DATE ,B_COUNT ,B_TYPE, AT_MODIFY_NAME FROM(
		SELECT ROWNUM AS RNUM, B_NO ,B_UNO ,M_ID, B_CATEG ,B_TITLE ,B_CONTENT
		,B_WRITE_DATE ,
		B_MODIFY_DATE ,B_COUNT ,B_TYPE,AT_MODIFY_NAME
		FROM(
		SELECT B_NO ,B_UNO ,M_ID, B_CATEG ,B_TITLE ,B_CONTENT
		,B_WRITE_DATE ,
		B_MODIFY_DATE ,B_COUNT ,B_TYPE,AT_MODIFY_NAME
		FROM BOARD JOIN MEMBER ON(B_UNO=M_UNO)
        JOIN ATTACHMENT ON(B_NO=AT_B_NO)
		WHERE B_DEL_STATUS='N' AND B_LEVEL=1 AND B_CH_NO=#{ChNo}
		ORDER BY B_NO DESC))
		WHERE RNUM BETWEEN #{current} AND #{limit}
		



	</select>
	
	<select id="getMainVList" parameterType="int" resultMap="channelResultSet">
		SELECT RNUM, B_NO ,B_UNO ,M_ID, B_CATEG ,B_TITLE ,B_CONTENT
		,B_WRITE_DATE ,
		B_MODIFY_DATE ,B_COUNT ,B_TYPE, AT_MODIFY_NAME FROM(
		SELECT ROWNUM AS RNUM, B_NO ,B_UNO ,M_ID, B_CATEG ,B_TITLE ,B_CONTENT
		,B_WRITE_DATE ,
		B_MODIFY_DATE ,B_COUNT ,B_TYPE,AT_MODIFY_NAME
		FROM(
		SELECT B_NO ,B_UNO ,M_ID, B_CATEG ,B_TITLE ,B_CONTENT
		,B_WRITE_DATE ,
		B_MODIFY_DATE ,B_COUNT ,B_TYPE,AT_MODIFY_NAME
		FROM BOARD JOIN MEMBER ON(B_UNO=M_UNO)
        JOIN ATTACHMENT ON(B_NO=AT_B_NO)
		WHERE B_DEL_STATUS='N' AND B_LEVEL=1 AND B_CH_NO=#{chNo}
		ORDER BY B_COUNT DESC))
		WHERE RNUM BETWEEN 1 AND 3
	
	</select>

	<update id="increaseVC">
		UPDATE BOARD SET
		B_COUNT=B_COUNT+1
		WHERE
		B_NO=#{bNo}


	</update>

	<select id="vodOne" parameterType="Board"
		resultMap="channelResultSet">
		SELECT * FROM BOARD
		WHERE B_NO=#{bNo}

	</select>

	<select id="selectLCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_DEL_STATUS='N'
		AND B_CH_NO=#{i}
		AND B_LEVEL=1
		AND B_TYPE='VOD'
	</select>

	<insert id="insertDet" parameterType="java.util.Map">
		INSERT INTO BOARD VALUES (
		SEQ_B_NO.NEXTVAL,
		#{ChNo},
		#{uNo},
		5,
		null,
		#{ReplyContent},
		SYSDATE,
		null,
		0, 2, #{bNo}, 'N', 'N', 'VOD')


	</insert>

	<select id="selectDCount" parameterType="int" resultType="int">
		SELECT
		COUNT(*) FROM
		BOARD
		WHERE
		B_UPPER_NO=#{bNo} AND
		B_LEVEL=2 AND
		B_DEL_STATUS='N'

	</select>

	<select id="listDet" parameterType="java.util.Map"
		resultMap="channelResultSet">
		SELECT
		RNUM
		,M_ID,M_NICKNAME,B_NO,B_CH_NO,B_UNO,B_TITLE,B_CONTENT,B_WRITE_DATE
		FROM(
		SELECT ROWNUM AS
		RNUM
		,M_ID,M_NICKNAME,B_NO,B_CH_NO,B_UNO,B_TITLE,B_CONTENT,B_WRITE_DATE
		FROM BOARD JOIN MEMBER ON(B_UNO=M_UNO)
		WHERE B_UPPER_NO=#{bNo} AND
		B_LEVEL=2 AND B_DEL_STATUS='N' ORDER BY B_NO DESC)
		WHERE RNUM BETWEEN
		#{current} AND #{limit}



	</select>

	<update id="deleteDet" parameterType="java.util.Map">
		UPDATE BOARD
		SET
		B_DEL_STATUS='Y'
		WHERE B_NO=#{bNo} AND B_CH_NO=#{ChNo}

	</update>

	<select id="selectonebNo" parameterType="int" resultType="int">
		SELECT
		B_UPPER_NO
		FROM BOARD
		WHERE B_NO=#{bNo} AND B_LEVEL=2

	</select>

</mapper>  