<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- <mapper namespace="Channel">
  	<reultMap type="com.kh.tt.channel.model.vo.Channel" id="channelResultSet">
  		<id property="muno" column="M_UNO"/>
  		<result property="userId" column="USER_ID"/>
  	</reultMap>
  </mapper>  -->