<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CQBoard">
	<resultMap type="com.kh.tt.myPage.model.vo.CQBoard" id="cqBoardResultSet">
		<id property="cqNo" column="CQ_NO"/>
		<result property="rnum" column="ROWNUM"/>
		<result property="cqUno" column="CQ_UNO"/>
		<result property="cqTargetId" column="CQ_TARGET_ID"/>
		<result property="cqClass" column="CQ_CLASS"/>
		<result property="cqTitle" column="CQ_TITLE"/>
		<result property="cqContent" column="CQ_CONTENT"/>
		<result property="cqDate" column="CQ_DATE"/>
		<result property="cqLevel" column="CQ_LEVEL"/>
		<result property="cqUpperNo" column="CQ_UPPER_NO"/>
		<result property="cqAttachYn" column="CQ_ATTACH_YN"/>
		<result property="cqDelStatus" column="CQ_DEL_STATUS"/>
		<result property="cqType" column="CQ_TYPE"/>
	</resultMap>
	
		
	<!-- My문의 내역 조회 - 카운트 -->
	<select id="getQuestionCount" resultType="_int">
		SELECT COUNT(*)
		FROM CQBOARD
		WHERE CQ_TYPE = 'QUESTION' AND CQ_UNO=#{value}
	</select> 
	
	<!-- My문의 내역 조회 - 리스트 -->
	<select id="selectQuestion" parameterType="_int"  resultMap="cqBoardResultSet" >
		SELECT ROWNUM, CQ_NO, CQ_UNO, CQ_TARGET_ID, CQ_BT_NO, CQ_CLASS, CQ_TITLE, CQ_CONTENT, CQ_DATE,
				CQ_UPPER_NO, CQ_ATTACH_YN, CQ_DEL_STATUS, CQ_TYPE
		FROM (SELECT CQ_NO, CQ_UNO, CQ_TARGET_ID, CQ_BT_NO, CQ_CLASS, CQ_TITLE, CQ_CONTENT, CQ_DATE,
				CQ_UPPER_NO, CQ_ATTACH_YN, CQ_DEL_STATUS, CQ_TYPE
			FROM CQBOARD
			WHERE CQ_TYPE = 'QUESTION' AND CQ_UNO=#{value}
			ORDER BY CQ_DATE DESC)
	</select> 
	
	<!-- My문의 게시물 상세보기 -->
	<select id="selectQuestionOne" parameterType="_int" resultMap="cqBoardResultSet" >
		SELECT *
		FROM CQBOARD
		WHERE CQ_NO=#{bid}
		
	</select> 
	
	
	
	
	
	
	
	
	<!-- My신고 내역 조회 - 카운트 -->
	<select id="getClaimCount" resultType="_int">
		SELECT COUNT(*)
		FROM CQBOARD
		WHERE CQ_TYPE = 'CLAIM' AND CQ_UNO=#{value}
	</select> 
	
	
	<!-- My신고 내역 조회 - 리스트 -->
	<select id="selectClaim"  parameterType="_int" resultMap="cqBoardResultSet" >
		SELECT ROWNUM, CQ_NO, CQ_UNO, CQ_TARGET_ID, CQ_BT_NO, CQ_CLASS, CQ_TITLE, CQ_CONTENT, CQ_DATE,
				CQ_UPPER_NO, CQ_ATTACH_YN, CQ_DEL_STATUS, CQ_TYPE
		FROM (SELECT CQ_NO, CQ_UNO, CQ_TARGET_ID, CQ_BT_NO, CQ_CLASS, CQ_TITLE, CQ_CONTENT, CQ_DATE,
				CQ_UPPER_NO, CQ_ATTACH_YN, CQ_DEL_STATUS, CQ_TYPE
			FROM CQBOARD
			WHERE CQ_TYPE = 'CLAIM' AND CQ_UNO=#{value}
			ORDER BY CQ_DATE DESC)
	</select> 
	
	<!-- My신고 게시물  - 상세보기 -->
	<select id="selectClaimOne" parameterType="_int" resultMap="cqBoardResultSet" >
		SELECT *
		FROM CQBOARD
		WHERE CQ_NO=#{bid}
	</select> 
	
	
	
	
	
	
	<!-- 문의내역 관리자 답변 -->
	<select id="selectMngQuestion" parameterType="_int" resultType="java.lang.String">
		SELECT C2.CQ_CONTENT
		FROM CQBOARD C1 JOIN CQBOARD C2 ON (C1.CQ_NO=C2.CQ_UPPER_NO)
		WHERE C1.CQ_NO=#{value}
	</select> 

</mapper>

