<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Relation2">
	<resultMap type="com.kh.tt.channel.model.vo.Relation"
		id="relationResultSet">
		<id property="rNo" column="R_NO" />
		<result property="rchNo" column="R_CH_NO" />
		<result property="rtargetuNo" column="R_TARGET_UNO" />
		<result property="rDate" column="R_DATE" />
		<result property="rType" column="R_TYPE" />
		<result property="rAlarm" column="R_ALARM_YN" />
	</resultMap>



	<select id="selectSub" parameterType="java.util.Map"
		resultMap="relationResultSet">
		SELECT *
		FROM RELATION
		WHERE R_CH_NO=#{cuNo} AND R_TARGET_UNO=#{uNo}

	</select>
	
	<insert id="addSub" parameterType="java.util.Map" >
	INSERT INTO RELATION VALUES (
	SEQ_R_NO.NEXTVAL,
	 #{cuNo},
	 #{uNo},
	 SYSDATE,
	 'SUBSCRIBE',
	  NULL)
	
	</insert>




</mapper>