<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Relation2">
	<resultMap type="com.kh.tt.channel.model.vo.Relation"
		id="relationResultSet">
		<id property="rNo" column="R_NO" />
		<result property="rchNo" column="R_CH_NO" />
		<result property="rtargetuNo" column="R_TARGET_UNO" />
		<result property="rDate" column="R_DATE" />
		<result property="rType" column="R_TYPE" />
		<result property="rAlarm" column="R_ALARM_YN" />

		<result property="userId" column="M_ID" />
		<result property="nickName" column="M_NICKNAME" />
	</resultMap>


	<delete id="updateBlack" parameterType="java.util.Map" >
		DELETE FROM RELATION 
		WHERE R_CH_NO=#{rchNo} AND
		R_TARGET_UNO=#{rtargetuNo}
		AND R_TYPE='BLACK'
	
	</delete>
	<select id="selectSub" parameterType="java.util.Map"
		resultMap="relationResultSet">
		SELECT *
		FROM RELATION
		WHERE R_CH_NO=#{cuNo} AND
		R_TARGET_UNO=#{uNo}
		AND R_TYPE='SUBSCRIBE'

	</select>

	<insert id="addSub" parameterType="java.util.Map">
		INSERT INTO
		RELATION VALUES (
		SEQ_R_NO.NEXTVAL,
		#{cuNo},
		#{uNo},
		SYSDATE,
		'SUBSCRIBE',
		NULL)

	</insert>

	<select id="totalSub" parameterType="int" resultType="int">
		SELECT
		COUNT(*)
		FROM RELATION
		WHERE R_CH_NO=#{chNo} AND R_TYPE='SUBSCRIBE'

	</select>

	<select id="selecttSub" parameterType="java.util.Map"
		resultMap="relationResultSet">
		SELECT RNUM, R_NO ,R_CH_NO ,R_TARGET_UNO, R_DATE ,R_TYPE
		,R_ALARM_YN
		,M_ID,M_NICKNAME FROM(
		SELECT ROWNUM AS RNUM, R_NO ,R_CH_NO
		,R_TARGET_UNO, R_DATE ,R_TYPE ,R_ALARM_YN
		,M_ID,M_NICKNAME
		FROM(
		SELECT
		R_NO ,R_CH_NO ,R_TARGET_UNO, R_DATE ,R_TYPE ,R_ALARM_YN
		FROM RELATION
		JOIN CHANNEL ON(R_CH_NO=CH_NO)
		WHERE R_TYPE='SUBSCRIBE' AND
		R_CH_NO=#{chNo}
		ORDER BY R_NO DESC)
		JOIN MEMBER ON(R_TARGET_UNO=M_UNO) )
		WHERE RNUM BETWEEN #{current} AND #{limit}

	</select>

	<select id="selectManager" parameterType="int"
		resultMap="relationResultSet">
		SELECT
		R_NO,
		R_CH_NO,
		R_TARGET_UNO,
		R_DATE,
		R_TYPE,
		M_ID,
		M_NICKNAME
		FROM RELATION JOIN MEMBER ON(R_TARGET_UNO=M_UNO)
		WHERE
		R_CH_NO=#{cuNo} AND R_TYPE='MANAGER'

	</select>

	<insert id="insertBlack" parameterType="java.util.Map">
		INSERT INTO
		RELATION
		VALUES (
		SEQ_R_NO.NEXTVAL,
		#{CuNo},
		#{uno},
		SYSDATE,
		'BLACK',
		NULL)
	</insert>

	<select id="listBlackCount" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM
		RELATION
		WHERE R_CH_NO=#{chNo} AND R_TYPE='BLACK'
	</select>

	<select id="listBlack" parameterType="java.util.Map"
		resultMap="relationResultSet">
		SELECT
		RNUM,R_NO,R_CH_NO,R_TARGET_UNO,R_DATE,R_TYPE,M_ID,M_NICKNAME
		FROM(
		SELECT ROWNUM AS
		RNUM,R_NO,R_CH_NO,R_TARGET_UNO,R_DATE,R_TYPE,M_ID,M_NICKNAME
		FROM (SELECT R_NO,R_CH_NO,R_TARGET_UNO,R_DATE,R_TYPE
		FROM RELATION
		WHERE R_TYPE='BLACK' AND R_CH_NO=#{chNo}
		ORDER BY R_NO DESC)
		JOIN MEMBER ON(R_TARGET_UNO=M_UNO))
		WHERE RNUM BETWEEN #{current} AND #{limit}
	</select>

</mapper>